{% extends "dashboard.html" %}


{% block sidebar %}
    <ul>
        <a href="/dashboard/"><li class="active sidebar-tab" id="Overview" onclick="setActive(this)">Overview</li></a>
        <a href="/wards/view/"><li id="Children" class="sidebar-tab">Children</li></a>
        <a href="/staff/view/"><li id="Staff" class="sidebar-tab" >Staff</li></a>
        <a href="/parents/view/"><li id="Parents" class="sidebar-tab">Parents</li></a>
        <li id="Daily-Reports" class="sidebar-tab">Daily Reports</li>
        <a href="/wards/classes/view/"><li id="Classes" class="sidebar-tab">Classes</li></a>
        <li id="My-Profile" class="sidebar-tab">My Profile</li>
    </ul>
{% endblock %}


{% block content %}
    <div class="dashboard-stats" id="Overview-content">
        <div class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-children"></i>    
            </div>
            <h3>Wards Enrolled</h3>
            <p>{{ward_pop}}</p>
        </div>
        <div class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-person-chalkboard"></i>
            </div>
            <h3>Staff</h3>
            <p>{{staff_pop}}</p>
        </div>
        <div class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-building"></i>
            </div>
            <h3>Classes</h3>
            <p>{{class_count}}</p>
        </div>
    </div>
{% endblock %}