<form action="{% url 'fill-forms' %}" method="post">
    {% csrf_token %}
{{ward_select.as_p}}
<button type="submit">Ward Report</button>
</form>

{% if messages %}
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endif %}
{% if ward %}
<form action="{% url 'upload-forms' ward.id %}" method="post">
    {% csrf_token %}

    <h1>FORM FOR {{ward.name}} ON {{today}}</h1>
    {{ form.as_p }}
    


    <h3>Naps</h3>
    {{ naps.management_form }}
    {% for nap_form in naps %}
        {{ nap_form.as_p }}
    
{% if nap_form.non_field_errors %}
{{nap_form.non_field_errors}}
{% endif %}
{% endfor %}

    <h3>Meals</h3>
    {{ meals.management_form }}
    {% for meal_form in meals %}
        {{ meal_form.as_p }}
    {% if meal_form.non_field_errors %}
{{meal_form.non_field_errors}}
{% endif %}  
    {% endfor %}

    <h3>Medication</h3>
    {{ meds.management_form }}
    {% for meds_form in meds %}
        {{ meds_form.as_p }}
        {% if meds_form.non_field_errors %}
{{meds_form.non_field_errors}}
{% endif %}  
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endif %}

