{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    
<form action="/login/" method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{request.GET.next}}">

<p>{{form.email.label_tag}}<br>
{{ form.email}}<br>
{% if form.errors.email%}
{{form.email.errors.0}}
{% endif %}</p>

<p>{{form.password.label_tag}}<br>
{{ form.password}}<br>
{% if form.errors.password%}
{{form.password.errors.0}}
{% endif %}</p>

<p>{% if messages %}
    {% for msg in messages %}
    {{ msg }}
    {% endfor %}
    {% endif %}
</p>

<button type="submit">Login</button>
</form>    
</body>
</html>